@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --green: #606C5D;
    --pink: #FFF4F4;
    --yellow: #F7E6C4;
    --orange: #F1C376;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --shadow: #8b8eaf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, section {
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

li a:hover {
    color: var(--orange);
}

body {
    font-family: var(--font-family);
    background-color: whitesmoke;
}

.header .logo img {
    height: 100px;
    width: auto;
}
.header .logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all var(--transition);
}

h2 {
    color: var(--green);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--green);
    box-shadow: 0 3px 5px var(--shadow);
}

.header nav li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

.menu-hamburguesa {
    color: var(--orange);
    font-size: 3rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.sobre_mi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
} 

.sobre_mi img {
    height: 30.5rem;
    width: auto;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    background-color: var(--yellow);
    box-shadow: 0px 2px 15px 2px var(--shadow);
}
  
.bio h1 {
    margin-bottom: var(--bottom-margin);
}
  
.bio p {
    line-height: var(--line-height);
    padding: 1rem 0;
}

.mas_sobre_mi {
    padding: 1rem 6rem;
    margin: 1rem;
}
  
.mas_sobre_mi h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.mas_sobre_mi p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: justify;
}

.enlace_guia {
    color: var(--green);
}

.enlace_guia:hover {
    font-weight: bold;
}

.fotos_viajes {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.encabezado_fotos {
    margin-bottom: 1rem;
} 
  
.contenedor_fotos img {
    padding: 0.5rem;
} 
  
.imagen {
    width: 20.875rem;
    height: 15.25rem;
    background-color: var(--yellow);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--shadow);
    padding: 20px;
    margin: 10px;
}

.guias_viaje {
    background-color: var(--yellow);
    padding: 32px 0;
    margin-top: 2rem;
}

.imagen_guia {
    width: 65%;
    height: 60%;
}

.container_guias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_guia, .encabezado_guias {
    text-align: center;
    margin-bottom: 1rem;
  }
  
.tarjeta-articulos {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
.titulo_guia {
    margin-top: 0.5rem;
    color: var(--green);
}

.tarjeta-articulos p {
    padding: 0.4rem;
}

.titulo_guia, .descrip_guia {
    margin-bottom: var(--bottom-margin);
}

.tarjeta-articulos {
    background-color: var(--orange);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--shadow);
    padding: 1rem;
    margin: 10px;
}

.contacto {
    margin-top: 2rem;
}

.contacto h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.formulario {
    background-color: var(--yellow);
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--shadow);
}

.formulario label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--green);
}

.form-group .form-control {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid var(--green);
    font-size: 0.875rem;
    outline: none;
}

.btn {
    width: 20%;
    padding: 8px;
    margin: 8px 0;
    background-color: var(--orange);
    border: 2px solid var(--green);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--green);
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--green);
    cursor: pointer;
    color: var(--orange);
}

.footer {
    background-color: var(--green);
    text-align: center;
    margin: 2rem 0 0;
}

.footer .grupo-1 {
    width: 90%;
    /*max-width: 1200px;*/
    margin: auto;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .grupo-1 .box img {
    width: 130px;
}

.footer .grupo-1 .rrss a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--green);
    margin-right: 10px;
    margin-top: 15px;
    background-color: #efd4a5;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .rrss a:hover {
    color: var(--orange);
}

.footer .grupo-2 {
    background-color: #efd4a5 ;
    padding: 15px 10px;
    text-align: center;
    color: var(--green);
}
.box h2 {
    color: var(--orange);
}

.desplazarse-hacia-arriba {
    position: fixed;
    right: 1%;
    bottom: 1.5%;
    cursor: pointer;
}
i {
    font-size: 40px;
    color: var(--green);
}

span {
    background-color: var(--yellow);
}

/*---------------------------------------------------------------------------------------------------*/

/*MEDIA QUERY PARA TABLETS*/
@media screen and (max-width: 768px) {
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul {
        position: fixed;
        background-color: var(--orange);
        flex-direction: column;
        top: 86px;
        left: 60%;
        width: 40%;
        color: var(--green);
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }    
    nav ul li {
        margin: 8px;
    }
    nav ul li a {
        color: var(--green);
    }
    .menu-hamburguesa {
        display: block;
    }
    nav ul.show {
        transform: translateX(0);
    }
    .sobre_mi {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }
    .sobre_mi img {
        height: 20.5rem;
        width: auto;
    }
    .bio {
        margin-top: -5rem;
        width: 20.5rem;
    }
    .mas_sobre_mi {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }
    .mas_sobre_mi h2 {
        text-align: center;
    }
    .mas_sobre_mi p {
        text-align: justify;
    }
    .imagen {
        width: 8.875rem;
        height: 8.25rem;
    }
    .container_guias {
        flex-direction: column;
    }
    .tarjeta-articulos {
        width: 20.875rem;
    }
    .formulario {
        max-width: 23.75rem;
        justify-items: center;
    }
}

  /*MEDIA QUERY PARA CELULARES*/
@media screen and (max-width: 600px) {
    .sobre_mi img {
        height: 15.5rem;
        width: auto;
    }
    .bio {
        width: 18.3rem;
    }
    .tarjeta-articulos {
        width: 17.875rem;
    }
    .formulario {
        max-width: 17.75rem;
    }
}